
body {

  background-color: #ffe6e6;
}

.btn {

color: black;

}

hr {

color: black;
}

p {

  color: #777777;
}

h4 {

  color: black;
}

.inputdiv {
  color: #777777;

}

#output {

width: 50%;

}
